@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color:#fff;
        background: linear-gradient(to bottom, 
        #003366,  /* Midnight Blue */
        #2b3c4c,  /* Slate Gray */
        #144545,  /* Teal */
        #2f206c,  /* Soft Gold */
        #003366,  /* Ivory */
        #6f3440   /* Crimson */
    );
    }
}

@layer components{
    .menuLink{
        @apply cursor-pointer hover:text-[#c5c5c5];
    }

    .tags{
        background-color: rgb(68, 47, 47);
        margin-right: 0.5;
        margin-top: 0.5;
        padding: 3px 10px;
        display: inline block;
        color: #fff;
        font-size: 12px;

    }

    .tags:last-child{
        margin-right: 0;
    }
    .tags:nth-child(2){
        background-color: burlywood;
    }
}
.tags:nth-child(3){
    background-color: rgb(7, 10, 51);
}
.tags:nth-child(4){
    background-color: rgb(72, 34, 8);
}
.tag-0 {
    background-color: #FF5733; /* Example color */
    color: white;
}

.tag-1 {
    background-color: #33FF57; /* Example color */
    color: white;
}

.tag-2 {
    background-color: #3357FF; /* Example color */
    color: white;
}

.tag-3 {
    background-color: #F1C40F; /* Example color */
    color: white;
}

.tag-4 {
    background-color: #9B59B6; /* Example color */
    color: white;
}
