.main {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  gap: 20px;
}
.h {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
  color: #f0fdf4;
}
.para {
  color: #6b7280;
  margin-top: 1rem /* 16px */;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  line-height: 1.625;
}
.mainDivOne .mainDivTwo {
 width: 50%;
}

@media (max-width: 640px) {
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    gap: 20px;
  }
}